gradio
requests
pandas
langchain
langchain-core
langchain-community
langgraph
langchain-huggingface
langfuse
langchain-google-genai
langchain-tavily
langchain-openai
huggingface_hub
transformers
accelerate
python-dotenv